extends layout
include mixins/_categoryForm

block content
    .inner
        .subheader
            .subheader__section
                h2 #{title}
        .actionbar
            .actionbar__action
                .button.actionbar__action--create
                    a(href=`/category/add`) Create Category
        .listitems
            each category in categories
                .listitem
                    .listitem__body
                        a(href=`/category/${category.slug}`)= category.name
                        p= category.wikiUrl
                    .listitem__actions
                        .listitem__action.listitem__action--topics
                                a(href=`/category/${category.slug}`)= category.topics.length
                        .listitem__action.listitem__action--edit
                            a(href=`/category/${category._id}/edit`)
                                != h.icon('pencil')
