extends layout

block content
    .inner
        .subheader
            .subheader__section
                h2 #{title}  
        if topics
            - const wikiStrings = (category.topics) ? category.topics.map(obj => obj.wikiUrl) : [];
            .topics
                each topic in topics
                    .topic
                        .topic__body
                            div= topic.name
                            p= topic.url
                        .topic__action.topic__action--add
                            form.add__topic(method="POST" action=`/api/v1/category/${category._id}/addtopic`)
                                input(type="hidden" name="name" value=topic.name)
                                input(type="hidden" name="wikiUrl" value=topic.url)
                                - const addedClass = wikiStrings.includes(topic.url.trim().toLowerCase()) ? 'add__button--added' : '';
                                button.add__button(type="submit" name="add" class=addedClass)
                                    != h.icon('add_circle')
